<<<<<<< HEAD
.card {
    height: 100px;
    width: 100px;
  }
  
  .front {
    background-color: blue;
  }
  
  .back {
    background-color: red;
  }
  
=======
.body {}

.main {}

.container {}
>>>>>>> 47b1db0eb6fa188665cb69f38ff2571b9f405033
